h1 {
    text-align: center;
    font-family: 'Inconsolata', monospace;
}

h3 {
    color: rgba(209, 103, 100, 1);
}
body {
    margin: 0 auto;
    padding: 0;
}
nav{
    padding: 20px
}
.wrapper {
    margin: 0 auto;
    padding: 1px;
    background-color: white;
    display: flex;
}
.column {
 
 float: left;
 font-size: 1.5em;
 margin: 0 auto;
 padding: 1px;
 
 
}
#puppy-begin {
    animation: test 5s infinite;
    max-height: 300px;
    margin: 0px;
    
}
@keyframes test{
    0% {transform: scale(1);}
    50% {transform: scale(.98, 1.06);}
    85% {transform: scale(1.0)}
}
#puppy-feed {
    animation: feed 5s infinite;
    
}
@keyframes feed{
    0% {transform: scale(1)}
    20% {transform: scale(.9)}
    50% {transform: scale(.8)}
    80% {transform: scale(.85)}
    100% {transform: scale(1.0)}
}

#column1 {
    width: 10%;
    background-color: #ffffff; 
    height: 400px;
    margin: 0 auto;
    padding: 5px;
    text-align: right;
}
#column2 {
    width: 70%;
    height: 400px;
    margin: 0 auto;
    padding: 5px;
    text-align: center;
    display: contents;
    flex-direction: row;
    
}
#puppers{
    animation: pulse 15s infinite;
    max-width: 300px;
    margin: 0 auto;
    
}
@keyframes pulse{
    /* 0% {background-color: red;}
    50% {background-color: yellow;
        transform: scale(.8);}
    100% {background-color: red;} */
}
#column3 {
    background-color: #ffffff;
    height: 400px;
    margin: 0 auto;
    padding: 5px;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
